

$font-family-sans-serif:  open-sans, sans-serif;
$font-family-serif: modesto-text, serif;

$headings-font-family:    $font-family-serif;
$headings-font-weight:    500;

$suit-red: #be1e2d;

$brand-primary: $suit-red;
$brand-blue-dark: #1e7ebe;
$brand-blue-light: lighten($brand-blue-dark, 50%);
$brand-green-dark: darken( #1ebe5e, 20%);
$brand-green-light: lighten($brand-green-dark, 65%);

